[2014-04-04 13:16] alanfoster99 opened #1 "Leak detection - Leak Details - Typo"
Leak status is misspelled as "Leak tatus" -- please correct to "Leak Status"
Please change "Repair_required" to "Repair Required"

![image](https://cloud.githubusercontent.com/assets/7118831/2615551/7030cb60-bbfb-11e3-94c9-c0fa27892cc3.png)

[2014-04-04 15:38] alanfoster99 opened #2 "Leak Detection - New Leak Message Box - Typo"
Please change the text of "Tap on MAP" to read "Tap on Map"

![image](https://cloud.githubusercontent.com/assets/7118831/2617159/0bac7234-bc0f-11e3-90f7-6a28f1db751e.png)

[2014-04-04 16:14] alanfoster99 opened #3 "Leak Detection - Leak Details - Syntax"
Please change "Visual Water" to "Visible Water"

![image](https://cloud.githubusercontent.com/assets/7118831/2617565/2f3c10c4-bc14-11e3-8b05-a176357d81a5.png)

[2014-04-04 16:16] alanfoster99 opened #4 "Leak Detection - Leak Details - Typo"
Please change "Occurence Date" to "Occurrence Date"

![image](https://cloud.githubusercontent.com/assets/7118831/2617581/6fcebc7c-bc14-11e3-9f6e-bfd391e2a16a.png)

[2014-04-04 16:27] alanfoster99 opened #5 "Leak Detection - Leak Details - Syntax"
Please change "Depth" to "Depth (ft)"

![image](https://cloud.githubusercontent.com/assets/7118831/2617670/09f8c6f2-bc16-11e3-8413-4efeeb5c239e.png)

[2014-04-04 16:47] alanfoster99 opened #6 "Leak Detection - New Leak - Work Flow"
When creating a new leak, the user confirms that they wish to create a new leak, and taps the location on the map.  The follow-up question asks "Can you Identify the Leak Feature?"  If the user selects No, they are exited out of the process.  Please change so that if the user selects No, they are forwarded directly to the Leak Details page.

![image](https://cloud.githubusercontent.com/assets/7118

[2014-04-04 17:03] alanfoster99 opened #7 "Leak Detection - Delete Leak - Typo"
The message box asking the user if they wish to delete the leak record says:
"Are you sure to delete Leak Record?"

Please change this to:
"Are you sure you want to delete this Leak Record?"

![image](https://cloud.githubusercontent.com/assets/7118831/2618074/f3dad090-bc1a-11e3-9f51-fd8187aebac7.png)

[2014-04-04 18:23] alanfoster99 opened #8 "Leak Detection - New Leak - Work Flow"
When associating a new leak with existing water features, if more features are reported than there is room for in the window, then these features are cut off and not displayed.  Please add a scroll bar to the "Leak Feature" window to allow the user to see all associated features.

![image](https://cloud.githubusercontent.com/assets/7118831/2618781/2bbf864e-bc26-11e3-88ee-21c31fb4d6ee.png)

[2014-04-04 19:46] JMurk commented on #8
Alan- you have to hold the left click and push up with the mouse (because it is built for a tablet and using your finger).  It should be working ok.

[2014-04-04 20:07] alanfoster99 commented on #8
Functions properly when holding down left mouse button -- not a bug.  Closing. -Alan

[2014-04-04 20:07] #8 closed, assigned to kanglu666

[2014-04-04 20:08] alanfoster99 commented on #8
Tested and verified – closed.

Thanks!

-Alan

From: Joe Murk [mailto:notifications@github.com]
Sent: Friday, April 04, 2014 3:46 PM
To: JMurk/Leak_Detection_Issues
Cc: Alan Foster
Subject: Re: [Leak_Detection_Issues] Leak Detection - New Leak - Work Flow (#8)

Alan- you have to hold the left click and push up with the mouse (because it is built for a tablet and using your finger). It should be wo

[2014-04-07 14:59] alanfoster99 opened #9 "Leak Detection - Leak - Work Flow"
The system is currently set up so that when a user submits a leak, it is no longer editable.  Please change the workflow so that when a leak is submitted, it can still be edited.

![image](https://cloud.githubusercontent.com/assets/7118831/2632529/2da963f8-be65-11e3-96d1-d76b0c2970a6.png)

[2014-04-07 15:15] jday3 commented on #1
Done

[2014-04-07 15:15] jday3 commented on #2
Done

[2014-04-07 15:15] jday3 commented on #3
Done

[2014-04-07 15:16] jday3 commented on #4
Done

[2014-04-07 15:16] jday3 commented on #5
Done

[2014-04-07 15:16] jday3 commented on #6
Done

[2014-04-07 15:16] jday3 commented on #7
Done

[2014-04-07 17:49] kanglu666 commented on #9
once any record has been submitted, this record will not be editable. i think this is the requirement.
if not, i can update it.

[2014-04-07 17:54] alanfoster99 commented on #9
Amy has changes for this, I will get them published to GitHub soon.

-Alan

From: lu [mailto:notifications@github.com]
Sent: Monday, April 07, 2014 1:49 PM
To: JMurk/Leak_Detection_Issues
Cc: Alan Foster
Subject: Re: [Leak_Detection_Issues] Leak Detection - Leak - Work Flow (#9)

once any record has been submitted, this record will not be editable. i think this is the requirement.
if not, i can up

[2014-04-08 16:22] alanfoster99 commented on #1
Confirmed complete.  Will close.

[2014-04-08 16:22] #1 closed, assigned to alanfoster99

[2014-04-08 16:22] alanfoster99 commented on #2
Confirmed complete.  Will close.

[2014-04-08 16:22] #2 closed, assigned to alanfoster99

[2014-04-08 16:22] alanfoster99 commented on #3
Confirmed complete.  Will close.

[2014-04-08 16:22] #3 closed, assigned to alanfoster99

[2014-04-08 16:23] alanfoster99 commented on #4
Confirmed complete.  Will close.

[2014-04-08 16:23] #4 closed, assigned to alanfoster99

[2014-04-08 16:23] alanfoster99 commented on #5
Confirmed complete.  Will close.

[2014-04-08 16:23] #5 closed, assigned to alanfoster99

[2014-04-08 16:23] alanfoster99 commented on #6
Confirmed complete.  Will close.

[2014-04-08 16:23] #6 closed, assigned to alanfoster99

[2014-04-08 16:24] alanfoster99 commented on #7
Confirmed complete.  Will close.

[2014-04-08 16:24] #7 closed, assigned to alanfoster99

[2014-04-08 16:26] alanfoster99 opened #10 "Leak Detection - Leak Details - Layout"
The SR Number will need to be edited by field personnel and populated in the field.  Please make the field editable.

![image](https://cloud.githubusercontent.com/assets/7118831/2646156/706b5220-bf3a-11e3-9e21-1bbd0efda32b.png)

[2014-04-08 16:29] alanfoster99 opened #11 "Leak Detection - Leak Details - Syntax"
The fields with toggle boxes need to have question marks at the end of the titles.  Please make the following changes:

Visible Water  ->  Visible Water?
Correlation -> Correlation?
Overnight -> Overnight?
Confirmed -> Confirmed?
Marked -> Marked?
Repair Required -> Repair Required?

![image](https://cloud.githubusercontent.com/assets/7118831/2646184/b84beb9a-bf3a-11e3-833c-a940c0b346f8.png)

[2014-04-08 16:32] alanfoster99 opened #12 "Leak Detection - Survey Details - Workflow"
Please set the default state of the Noise Code to be "no noise" instead of blank.

![image](https://cloud.githubusercontent.com/assets/7118831/2646233/59afaddc-bf3b-11e3-9023-1bcd9a5360ea.png)

[2014-04-08 16:35] alanfoster99 commented on #9
Creating new issue to address new requirements.  Closing this.

[2014-04-08 16:35] #9 closed, assigned to alanfoster99

[2014-04-08 16:40] alanfoster99 opened #13 "Leak Detection - Leak - Work Flow"
Please set the following three classes available for leak status, in this order:

Active
Repaired
Inactive

![image](https://cloud.githubusercontent.com/assets/7118831/2646290/10b3e0e8-bf3c-11e3-82ce-155178621809.png)

[2014-04-08 16:40] alanfoster99 opened #14 "Leak Detection - Leak - Work Flow"
Please symbolize the leaks according to these four statuses:

Active
Submitted
Repaired
Inactive

[2014-04-08 17:01] alanfoster99 opened #15 "Leak Detection - Leak - Work Flow"
The system is currently set up so that when a user submits a leak, it is no longer editable. Please change the workflow so that when a leak is submitted, it can still be edited.  The workflow needs to be the following:

Once the user submits a leak, an email needs to be sent to the appropriate party and the  Status (not Leak Status) set to "Submitted".

The user then needs to be able to continue t

[2014-04-08 17:13] alanfoster99 opened #16 "Leak Detection - New Leak - Bug"
When a new leak is created, if the user selects Submit without saving first, an error message is shown informing the user they must save first.  If the user clicks OK, then immediately on the save button, and then on the Submit button, the save action is not registered.

In order to save, it appears that the user must first click somewhere on the screen and then click Save.

Please correct so that

[2014-04-08 17:16] alanfoster99 opened #17 "Leak Detection - Leak - Work Flow"
Once a user saves a leak, they are taken back to the map view and then have to identify the leak to open back up if they wish to submit it.  Please have it stay on the leak details page after the save action so that the end user can submit without being dumped into the map view.

[2014-04-08 18:13] alanfoster99 opened #18 "Leak Detection - New Leak - Syntax"
Please change the popup window text from "Can you Identify the Leak Feature" to "Can you Identify Which Object is Leaking?"

![image](https://cloud.githubusercontent.com/assets/7118831/2647335/78cb1248-bf49-11e3-8e13-1fa24907dbe8.png)

[2014-04-08 19:01] alanfoster99 opened #19 "Leak Detection - Report - Layout"
As per Heidi's email with Amy, please make the following changes:

• Add Time
• Add Repair work order ID (this would be for the follow on work order to fix the leak, not the originating work order ID)
• Change SR# to WO ID for work order ID
• Use GUID as unique identifier…not SR# or even WO ID since there maybe not be a WO ID on a leak they are finding in the field.

[2014-04-08 19:11] alanfoster99 opened #20 "Leak Detection - Interface - Enhancement"
Please add code to check the device in use, and if the user is using anything smaller than an iPad mini please create an error message stating:

"The device you are using does not support the use of this application.  You may experience unwanted functionality if you continue."

[2014-04-08 19:15] alanfoster99 opened #21 "Leak Detection - Report - Layout"
When the static map is replaced with dynamic, please ensure that the water features are included as well.

[2014-04-10 13:59] kanglu666 commented on #10
done

[2014-04-10 14:00] kanglu666 commented on #11
done

[2014-04-10 14:01] kanglu666 commented on #12
done

[2014-04-10 14:01] kanglu666 commented on #13
done

[2014-04-10 14:03] kanglu666 commented on #14
need to talk with this.

[2014-04-10 14:07] kanglu666 commented on #15
need to discuss

[2014-04-10 15:44] kanglu666 commented on #18
done

[2014-04-10 15:45] kanglu666 commented on #17
done

[2014-04-10 15:45] kanglu666 commented on #16
done

[2014-04-10 16:28] alanfoster99 commented on #10
Confirmed and closed.

[2014-04-10 16:28] #10 closed, assigned to alanfoster99

[2014-04-10 16:30] alanfoster99 commented on #11
Confirmed and closed.

[2014-04-10 16:30] #11 closed, assigned to alanfoster99

[2014-04-10 16:34] alanfoster99 commented on #12
Confirmed and closed

[2014-04-10 16:34] #12 closed, assigned to alanfoster99

[2014-04-10 16:36] alanfoster99 commented on #13
Confirmed and closed.

[2014-04-10 16:36] #13 closed, assigned to alanfoster99

[2014-04-10 16:49] alanfoster99 commented on #18
Confirmed and closed.

[2014-04-10 16:49] #18 closed, assigned to alanfoster99

[2014-04-10 16:49] alanfoster99 commented on #17
Confirmed and closed.

[2014-04-10 16:49] #17 closed, assigned to alanfoster99

[2014-04-10 16:51] alanfoster99 commented on #16
I'm still getting the error -- please revisit.

[2014-04-10 16:54] kanglu666 commented on #16
Clear your Browser cache

[2014-04-10 16:59] alanfoster99 commented on #16
Cache cleared -- error persists.  I see other changes which have posted -- please revisit.

[2014-04-11 16:49] alanfoster99 opened #22 "Leak Detection - Leak - Work Flow"
Please remove the splash confirmation screen inquiring if the user wishes to create a new leak.

![image](https://cloud.githubusercontent.com/assets/7118831/2682333/3fb2ca30-c199-11e3-8fee-57241d5d43c9.png)

[2014-04-11 16:53] alanfoster99 opened #23 "Leak Detection - Edit Leak - Minor Bug"
When a user creates a new leak and saves it, the "Last Edit User" field is not getting updated.  Please update the field appropriately.

![image](https://cloud.githubusercontent.com/assets/7118831/2682362/c0b5d104-c199-11e3-85e5-cd56497a52f5.png)

[2014-04-11 16:56] alanfoster99 opened #24 "Leak Detection - Edit Survey - Minor Bug"
When a user creates a new leak and saves it, the "Last Edit User" field is not getting updated. Please update the field appropriately.

![image](https://cloud.githubusercontent.com/assets/7118831/2682384/323154e8-c19a-11e3-9db8-131623a287c2.png)

[2014-04-11 17:10] alanfoster99 opened #25 "Leak Detection - General - Layers"
Please add functionality to display aerial photography as a layer

[2014-04-11 17:30] alanfoster99 opened #26 "Leak Detection - New Survey - Syntax"
Please change "Can you Identify the Survey Feature?" to "Is the Survey Feature Shown on the Map?"

![image](https://cloud.githubusercontent.com/assets/7118831/2682680/ce463caa-c19e-11e3-93f0-1fc99b9e78b9.png)

[2014-04-11 17:32] alanfoster99 opened #27 "Leak Detection - New Survey - Workflow"
If the user answers no to "Is the Survey Feature Shown on the Map?", please have the interface proceed directly to the edit survey details page and pass the user click geometry as the X, Y of the point

[2014-04-11 17:35] alanfoster99 commented on #14
Please symbolize based on:
Active
Emailed
Repaired
Inactive

[2014-04-11 17:36] alanfoster99 commented on #15
Please proceed as per discussion in meeting 4/11

[2014-04-11 17:38] alanfoster99 opened #28 "Leak Detection - New Survey - Workflow"
Please remove the splash screen asking "Add New Survey?  Tap on Map"

![image](https://cloud.githubusercontent.com/assets/7118831/2682748/29adbf22-c1a0-11e3-9ef4-208ffefe391a.png)

[2014-04-11 17:40] alanfoster99 opened #29 "Leak Detection - Identify - Workflow"
Please remove the splash screen asking "Identify Leaks or Surveys?  Tap on Map!"

![image](https://cloud.githubusercontent.com/assets/7118831/2682758/5d199d2c-c1a0-11e3-9ff1-e4c775a9a80f.png)

[2014-04-11 17:42] alanfoster99 opened #30 "Leak Detection - Leak - Syntax"
On the edit leaks page, please change "Last Edit Date" to "Last Edit" and display date and time, not just date.

![image](https://cloud.githubusercontent.com/assets/7118831/2682778/9ece35ca-c1a0-11e3-8bb5-b194cfb910c6.png)

[2014-04-11 17:46] alanfoster99 opened #31 "Leak Detection - New Survey - Workflow"
Please allow the user to select more than one feature record using check boxes to select them and add a functionality to edit them all simultaneously and save them simultaneously, each getting a new record in the database with identical survey information (noise, cover, etc) but still with unique IDs.

![image](https://cloud.githubusercontent.com/assets/7118831/2682824/26155bf8-c1a1-11e3-9735-869e

[2014-04-11 17:48] alanfoster99 opened #32 "Leak Detection - New Leak - Syntax"
Please add capability to include fittings in the possible leaking features.  Joe and Alan will need to add these to the map before this can be done.

[2014-04-11 17:50] alanfoster99 opened #33 "Leak Detection - General - Create / Identify"
Please set a zoom threshold requiring the user to be zoomed in an appropriate amount before allowing them create or identify a leak or survey feature.

[2014-04-11 17:52] alanfoster99 opened #34 "Leak Detection - General - Settings"
Please set the search radius to be dependent upon the zoom level, so that as the user zooms in, the radius adjusts to a smaller and smaller size, appropriate to the zoom level.

[2014-04-11 17:54] alanfoster99 opened #35 "Leak Detection - New Survey - Workflow"
Once the user can select multiple features via checkboxes, please highlight each on the map as they are checked; do not recenter or change zoom level.

[2014-04-11 17:57] alanfoster99 opened #36 "Leak Detection - New Survey - Survey ID"
The Survey ID is not currently populated with an easy to read number -- please generate a sequential, easy to read number.

![image](https://cloud.githubusercontent.com/assets/7118831/2682925/a012effa-c1a2-11e3-8d73-0aa79cb4b381.png)

[2014-04-11 17:58] alanfoster99 opened #37 "Leak Detection - New Leak - Lead ID"
The Leak ID is not currently populated with an easy to read number -- please generate a sequential, easy to read number.

![image](https://cloud.githubusercontent.com/assets/7118831/2682935/d4ae1eb0-c1a2-11e3-83db-18e1d2403d27.png)

[2014-04-14 17:40] kanglu666 commented on #25
done

[2014-04-14 17:41] kanglu666 commented on #26
done

[2014-04-14 17:47] kanglu666 commented on #27
done

[2014-04-14 18:04] kanglu666 commented on #30
done

[2014-04-15 14:55] kanglu666 commented on #33
done

[2014-04-15 15:54] kanglu666 commented on #23
done

[2014-04-15 15:54] kanglu666 commented on #24
done

[2014-04-15 15:57] kanglu666 commented on #31
done

[2014-04-15 18:12] kanglu666 commented on #22
that's the design work flow. keep it as is.

[2014-04-15 18:17] kanglu666 commented on #28
keep it as is

[2014-04-15 18:17] kanglu666 commented on #29
kepp it as is

[2014-04-15 18:19] kanglu666 commented on #33
scale larger than 1:2000

[2014-04-15 18:20] kanglu666 commented on #34
i will still keep the radius bar for user to set the value.

[2014-04-15 18:51] kanglu666 commented on #35
done

[2014-04-15 18:54] kanglu666 commented on #37
Leak Id field in database have values guid. i will hide this at the app side.
if we do need a easy read number field, we need to update the data base, add an new filed called: Leak_NO.
Just let me know, if we do need this easy ready number.

[2014-04-15 18:56] kanglu666 commented on #36
the same as Leak_ID.
if we do need a easy ready number at the app side. we need to update the data base.

just let me know, if we do need one.

[2014-04-15 19:25] alanfoster99 commented on #25
Verified and closed.

[2014-04-15 19:25] #25 closed, assigned to alanfoster99

[2014-04-15 19:27] alanfoster99 opened #38 "Leak Detection - General - Layers"
Please change the spelling for the aerial photography layer from "Otho" to "Orthos"

![image](https://cloud.githubusercontent.com/assets/7118831/2711924/ee3024da-c4d3-11e3-826a-4a0bbc4d3da3.png)

[2014-04-15 19:29] alanfoster99 commented on #26
Verified and closed.

[2014-04-15 19:29] #26 closed, assigned to alanfoster99

[2014-04-15 19:29] alanfoster99 commented on #27
Verified and closed.

[2014-04-15 19:29] #27 closed, assigned to alanfoster99

[2014-04-15 19:30] alanfoster99 commented on #30
Please change "Last Edit Date" to "Last Edit"

[2014-04-15 19:31] alanfoster99 commented on #33
Verified and closed.

[2014-04-15 19:31] #33 closed, assigned to alanfoster99

[2014-04-15 19:35] alanfoster99 commented on #23
Not populating for me, please revisit.

[2014-04-15 19:37] alanfoster99 commented on #24
Not updating, showing last user as "Null" -- please revisit.

[2014-04-15 19:39] alanfoster99 commented on #31
Verified and closed.

[2014-04-15 19:39] #31 closed, assigned to alanfoster99

[2014-04-15 19:43] alanfoster99 commented on #22
The users have requested that we remove the screen -- please revisit.

[2014-04-15 19:47] alanfoster99 commented on #28
Requested removed by users -- please revisit.

[2014-04-15 19:48] alanfoster99 commented on #29
Needs to be removed -- requested by users -- please revisit.

[2014-04-15 19:51] alanfoster99 commented on #34
Okay -- will see with workflow, may need to revisit.  Closing for now.

[2014-04-15 19:51] #34 closed, assigned to alanfoster99

[2014-04-15 19:56] alanfoster99 commented on #35
Verified and closed.

[2014-04-15 19:56] #35 closed, assigned to alanfoster99

[2014-04-15 19:59] alanfoster99 commented on #37
Got it -- verified as described.  Will discuss with project leaders and let you know if simple ID is needed.  Closing.

[2014-04-15 19:59] #37 closed, assigned to alanfoster99

[2014-04-15 20:03] alanfoster99 commented on #36
Verified and good as is -- users do not need an ID number.  Closing.

[2014-04-15 20:03] #36 closed, assigned to alanfoster99

[2014-04-15 20:44] kanglu666 commented on #16
tested, looks like it's Chrome browser issue, no error pup up.
Ipad works fine.

[2014-04-16 14:07] kanglu666 commented on #38
done

[2014-04-16 14:08] kanglu666 commented on #14
when you are in office, we need to talk a little about the work flow

[2014-04-16 14:09] kanglu666 commented on #15
when you are in KCI, we need to talk about the work flow

[2014-04-16 14:09] kanglu666 commented on #22
done

[2014-04-16 14:10] kanglu666 commented on #23
tested, it's working for me.
when you are in office, we can work through this

[2014-04-16 14:10] kanglu666 commented on #24
work for me. when you are in office, we can test it

[2014-04-16 14:11] kanglu666 commented on #28
done

[2014-04-16 14:11] kanglu666 commented on #29
done

[2014-04-16 14:11] kanglu666 commented on #30
done

[2014-04-16 16:19] alanfoster99 commented on #28
Confirmed -- closed.

[2014-04-16 16:19] #28 closed, assigned to alanfoster99

[2014-04-16 16:20] alanfoster99 commented on #29
Confirmed -- closed.

[2014-04-16 16:20] #29 closed, assigned to alanfoster99

[2014-04-16 16:21] alanfoster99 commented on #30
Confirmed -- closed.

[2014-04-16 16:23] alanfoster99 commented on #22
Confirmed - Closed.

[2014-04-16 16:23] #22 closed, assigned to alanfoster99

[2014-04-16 16:23] alanfoster99 commented on #38
Confirmed and closed.

[2014-04-16 16:23] #38 closed, assigned to alanfoster99

[2014-04-16 16:33] #30 closed, assigned to alanfoster99

[2014-04-16 18:11] alanfoster99 opened #39 "Leak Detection - Edit Leak - Syntax"
Please change the Submit button to be labeled "Email"

![image](https://cloud.githubusercontent.com/assets/7118831/2723303/8452e060-c592-11e3-8d97-b60410b6cff2.png)

[2014-04-17 15:40] alanfoster99 opened #40 "Leak Detection - Report - Layout"
Please change "VISUAL WATER?" to "VISIBLE WATER?"

[2014-04-17 15:42] alanfoster99 opened #41 "Leak Detection - Report - Layout"
Please change "SUBMITTED TO MAINT?" to "EMAILED TO MAINT?"

[2014-04-17 16:09] alanfoster99 commented on #14
As a follow up, workflow is Active -> Emailed -> Repaired
or
Active -> Inactive

[2014-04-17 16:10] alanfoster99 commented on #15
Closing due to discussion, comments on #14

[2014-04-17 16:10] #15 closed, assigned to alanfoster99

[2014-04-17 16:11] alanfoster99 commented on #16
Closing

[2014-04-17 16:11] #16 closed, assigned to alanfoster99

[2014-04-17 16:45] alanfoster99 opened #42 "Leak Detection - Edit Leak - Database design"
Related to #14 -- Combine status and leak status into a single field, showing:

Active
Emailed
Repaired
Inactive

Once a record is Repaired or is Inactive, it will no longer be editable.

[2014-04-17 16:52] alanfoster99 opened #43 "Leak Detection - New Survey - Design"
When a user is creating multiple surveys, please remove the capability to add photos -- the user will only attach photos with single surveys or when editing single surveys.

![image](https://cloud.githubusercontent.com/assets/7118831/2734171/b899701e-c650-11e3-95c6-137be366d49e.png)

[2014-04-17 16:56] alanfoster99 opened #44 "Leak Detection - New Survey - Design"
When creating multiple survey points, please remove the fields which are unique:

Survey Feature Type
Survey Feature ID

![image](https://cloud.githubusercontent.com/assets/7118831/2734204/29392242-c651-11e3-8e75-ce93c0a68864.png)

[2014-04-17 16:58] alanfoster99 opened #45 "Leak Detection - New Survey - Design"
On the survey edit page, please remove the Survey ID.

![image](https://cloud.githubusercontent.com/assets/7118831/2734239/8b968d3a-c651-11e3-983a-8b24f7d8742c.png)

[2014-04-18 15:24] kanglu666 commented on #14
done

[2014-04-18 15:24] kanglu666 commented on #20
done by Jesse :)

[2014-04-18 15:25] kanglu666 commented on #23
please test

[2014-04-18 15:26] kanglu666 commented on #39
done

[2014-04-18 15:26] kanglu666 commented on #42
schema updated.

[2014-04-18 15:27] kanglu666 commented on #43
done

[2014-04-18 15:27] kanglu666 commented on #44
done

[2014-04-18 15:27] kanglu666 commented on #45
done

[2014-04-18 15:53] alanfoster99 commented on #23
Verified and closed

[2014-04-18 15:53] #23 closed, assigned to alanfoster99

[2014-04-18 16:03] alanfoster99 opened #46 "Leak Detection - Layers - Missing Data"
Please update the layer symbology for leaks to mirror the updated symbols in the new map service.  There are updated symbols for meters, services, and fittings were added.

![image](https://cloud.githubusercontent.com/assets/7118831/2743361/de358dc2-c712-11e3-92af-2f1fa5771fc0.png)

[2014-04-18 16:03] alanfoster99 commented on #14
Confirmed and closed

[2014-04-18 16:03] #14 closed, assigned to alanfoster99

[2014-04-18 16:06] alanfoster99 commented on #20
Confirmed and closed.

[2014-04-18 16:06] #20 closed, assigned to alanfoster99

[2014-04-18 16:08] alanfoster99 commented on #39
Verified and closed

[2014-04-18 16:08] #39 closed, assigned to alanfoster99

[2014-04-18 16:10] alanfoster99 opened #47 "Leak Detection - Survey - Syntax"
Please change the "Submit" button to "Email"

[2014-04-18 16:18] alanfoster99 opened #48 "Leak Detection - Edit Leak - Work flow"
Please add a button called "Repaired" to the right of the "Email" button.
When the user clicks the "Repaired" button, have a splash screen pop up with the following message:
"This will mark this leak as repaired and close out the record.  Continue?"
If the user clicks "No" please return them to the editor page for leaks.  If the user clicks "Yes" please update the symbology of the leak, and move i

[2014-04-18 16:19] alanfoster99 commented on #44
Closed

[2014-04-18 16:19] #44 closed, assigned to alanfoster99

[2014-04-18 16:24] alanfoster99 opened #49 "Leak Detection - Leak - Layout"
Please change "Add Photo" to "Edit Photos"

[2014-04-18 16:24] alanfoster99 opened #50 "Leak Detection - Survey - Layout"
Please change "Add Photo" to "Edit Photos"

[2014-04-18 16:25] alanfoster99 commented on #43
Confirmed and closed

[2014-04-18 16:25] #43 closed, assigned to alanfoster99

[2014-04-18 16:26] alanfoster99 commented on #42
Closed

[2014-04-18 16:26] #42 closed, assigned to alanfoster99

[2014-04-18 16:26] alanfoster99 commented on #45
Verified and closed

[2014-04-18 16:26] #45 closed, assigned to alanfoster99

[2014-04-18 16:28] alanfoster99 commented on #24
Verified working -- closed

[2014-04-18 16:28] #24 closed, assigned to alanfoster99

[2014-04-18 16:29] alanfoster99 commented on #32
Fittings data are now in the map service -- please proceed with adding them to the possible leaking features and the legend.

[2014-04-18 16:39] alanfoster99 opened #51 "Leak Detection - Leak - Field size"
The current limit to the SR Number field is 10 characters.  If the user enters more than 10 characters, the interface displays the loading popup, but never terminates.  Please check the length of what the user enters, and provide a warning message if they exceed the length.

![image](https://cloud.githubusercontent.com/assets/7118831/2743679/e87eb0b0-c717-11e3-90cd-ac2b2262f94d.png)

[2014-04-18 16:57] alanfoster99 opened #52 "Leak Detection - Survey - Work Flow"
When a user saves a survey, after the popup window, the interface returns to the map; please change this so that the user stays on the edit page until they click the map button.

[2014-04-18 17:16] alanfoster99 opened #53 "Leak Detection - Leak - Field size"
The current limit to the Depth field is 10 characters. If the user enters more than 10 characters, the interface displays the loading popup, but never terminates. Please check the length of what the user enters, and provide a warning message if they exceed the length.

[2014-04-18 18:01] alanfoster99 opened #54 "Leak Detection - Leak - Work Flow"
The first time a leak is saved, the popup message states "The record is saved but NOT submitted" and the time is incorrect for the last edit date; the second time it is saved, the message states "Leak Saved Succesfully!" and the last edit date is updated.

Please make the time update properly the first time.

[2014-04-18 18:04] alanfoster99 opened #55 "Leak Detection - Survey - Work Flow"
The first time a survey is saved, the popup message states "New survey records have been saved but NOT submitted" and the time is incorrect for the last edit date; the second time it is saved, the message states "Survey Saved Succesfully!" and the last edit date is updated.

Please make the time update properly the first time.

[2014-04-18 18:18] alanfoster99 opened #56 "Leak Detection - Leak - Syntax"
Please change the field named "SR Number" to "WO Number"

![image](https://cloud.githubusercontent.com/assets/7118831/2744408/d2914c00-c725-11e3-977b-8177dfb140fe.png)

[2014-04-18 19:28] JMurk opened #57 "Leak Detection - New Water Map Service"
A new Map service has been created on GW03 for use in the leak detection application.  Please use Leak_Detection_App_Water_Features in place of 1108_Waterdev.

[2014-04-21 15:03] alanfoster99 commented on #57
Additionally, please make sure the report is also using this service for its live map instance.

[2014-04-21 15:11] kanglu666 commented on #57
done

[2014-04-21 15:48] kanglu666 commented on #32
done

[2014-04-21 17:28] JMurk opened #58 "Leak Detection - Repoint Water Data"
Re-point map service to the water data from the "publish" database.

[2014-04-22 12:30] alanfoster99 opened #59 "Leak Detection - General - Layers"
Human readable Leak and Survey IDs are needed.  Please generate unique, easy to read IDs which can be populated in the edit screens and on the report.

[2014-04-22 12:31] alanfoster99 opened #60 "Leak Detection - Report - Layout"
Please remove the X, Y coordinates from the report, as the client does not want them.

![image](https://cloud.githubusercontent.com/assets/7118831/2764750/129c33c2-ca1a-11e3-8fd1-580da8a3d9b4.png)

[2014-04-22 12:34] alanfoster99 opened #61 "Leak Detection - New Leak - Point Location"
Currently, when a user creates a new leak and associates it to a liner feature (main, service, etc) the point is moved to the center of the feature.  Please retain the location of the original click as the X, Y of the leak, and do not move the point.  The client has indicated that this will cause confusion and errors if left as is.

[2014-04-22 12:39] alanfoster99 opened #62 "Leak Detection - General -Layers"
The initial extent of the map is set so that the southern portion of the city is being cut off by the interface.  Please re-center the map to correct this.

![image](https://cloud.githubusercontent.com/assets/7118831/2764798/172e3920-ca1b-11e3-818a-64def4f17e5e.png)

[2014-04-22 13:48] tarheelgis commented on #60
Updated Please review

[2014-04-22 13:49] tarheelgis commented on #41
Updated Please review

[2014-04-22 13:49] tarheelgis commented on #40
Updated Please review

[2014-04-22 13:50] tarheelgis commented on #19
Updated for the most part we might need to break this comment into more specific tasks based on the recent Gap Analysis

[2014-04-22 14:08] tarheelgis commented on #57
Just saw the note about the report for this one will post a change shortly

[2014-04-22 14:24] alanfoster99 commented on #60
Confirmed, closing

[2014-04-22 14:24] #60 closed, assigned to tarheelgis

[2014-04-22 14:25] alanfoster99 commented on #41
Confirmed -- closing

[2014-04-22 14:25] #41 closed, assigned to tarheelgis

[2014-04-22 14:25] alanfoster99 commented on #40
Confirmed -- closing

[2014-04-22 14:25] #40 closed, assigned to tarheelgis

[2014-04-22 14:28] alanfoster99 commented on #19
Agreed -- we will need to update the GUID to be a human-friendly ID and incorporate once Lu has created it.  Closing this and will open a new one when can move forward.

[2014-04-22 14:28] #19 closed, assigned to tarheelgis

[2014-04-22 15:53] kanglu666 commented on #46
done

[2014-04-22 15:54] kanglu666 commented on #47
done

[2014-04-22 16:32] kanglu666 commented on #49
done

[2014-04-22 16:33] kanglu666 commented on #50
done

[2014-04-22 16:34] kanglu666 commented on #51
done

[2014-04-22 16:35] kanglu666 commented on #53
done

[2014-04-22 16:36] kanglu666 commented on #54
done

[2014-04-22 16:37] kanglu666 commented on #55
done

[2014-04-22 16:37] kanglu666 commented on #56
done

[2014-04-22 16:37] kanglu666 commented on #57
done

[2014-04-22 16:40] kanglu666 commented on #62
use ipad/ or adjust you chrome screen to look like a ipad

[2014-04-22 17:09] kanglu666 commented on #52
done

[2014-04-22 17:18] alanfoster99 commented on #46
Confirmed and closed.

[2014-04-22 17:18] #46 closed, assigned to alanfoster99

[2014-04-22 17:19] alanfoster99 commented on #47
Confirmed and closed

[2014-04-22 17:19] #47 closed, assigned to alanfoster99

[2014-04-22 17:21] kanglu666 commented on #61
done

[2014-04-22 17:24] alanfoster99 commented on #49
Confirmed and closed.

[2014-04-22 17:24] #49 closed, assigned to alanfoster99

[2014-04-22 17:27] alanfoster99 commented on #32
Confirmed and closed.

[2014-04-22 17:27] #32 closed, assigned to alanfoster99

[2014-04-22 17:28] alanfoster99 commented on #50
Confirmed and closed.

[2014-04-22 17:28] #50 closed, assigned to alanfoster99

[2014-04-22 17:29] alanfoster99 commented on #51
Confirmed and closed.

[2014-04-22 17:29] #51 closed, assigned to alanfoster99

[2014-04-22 17:32] alanfoster99 commented on #53
Confirmed and closed

[2014-04-22 17:32] #53 closed, assigned to alanfoster99

[2014-04-22 17:33] alanfoster99 commented on #54
Confirmed and closed.

[2014-04-22 17:33] #54 closed, assigned to alanfoster99

[2014-04-22 17:35] alanfoster99 commented on #55
Confirmed and closed

[2014-04-22 17:35] #55 closed, assigned to alanfoster99

[2014-04-22 17:36] alanfoster99 commented on #56
Confirmed and closed.

[2014-04-22 17:36] #56 closed, assigned to alanfoster99

[2014-04-22 17:37] alanfoster99 commented on #57
Can't tell a difference in the report -- is this due to the scale of the map in the report?

[2014-04-22 17:38] alanfoster99 commented on #62
Confirmed and closed.

[2014-04-22 17:38] #62 closed, assigned to alanfoster99

[2014-04-22 17:41] kanglu666 commented on #57
assign this to Eric. he needs to update the mapservice for the report

[2014-04-22 17:49] alanfoster99 commented on #52
Confirmed and closed.

[2014-04-22 17:49] #52 closed, assigned to alanfoster99

[2014-04-22 17:52] alanfoster99 commented on #61
Confirmed and closed.

[2014-04-22 17:52] #61 closed, assigned to alanfoster99

[2014-04-22 18:21] tarheelgis commented on #57
Added please test

[2014-04-22 18:22] tarheelgis commented on #21
Added please test

[2014-04-22 19:31] kanglu666 commented on #48
done, please clear browser cache and test

[2014-04-22 19:42] alanfoster99 commented on #48
The user should still be able to edit and save the record after it has been emailed.  The record will not be locked until it is marked as repaired.  Once the user has emailed the Leak, they will still need access to edit all fields as well as add / delete photos, and continue to save the record.

[2014-04-22 19:49] alanfoster99 commented on #21
Confirmed and closed.

[2014-04-22 19:49] #21 closed, assigned to tarheelgis

[2014-04-22 19:49] alanfoster99 commented on #57
Confirmed and closed.

[2014-04-22 19:49] #57 closed, assigned to tarheelgis

[2014-04-23 19:07] alanfoster99 opened #63 "Leak Detection - General - Zoom to my location tool"
Please include an accuracy bubble showing the radius of accuracy for the geolocation signal, and zoom in / out to the accuracy bubble when the user selects the tool.  Please set a lower zoom threshold so the interface does not zoom in beyond a legible extent.

![image](https://cloud.githubusercontent.com/assets/7118831/2782001/69caab8c-cb1a-11e3-8316-f7e2139b6f9b.png)

[2014-04-23 19:15] alanfoster99 opened #64 "Leak Detection - Zoom to my Location"
On iPad, if the user uses the Zoom to My Location tool consecutively (usually only 2 - 3 times) the app crashes.

[2014-04-25 13:24] alanfoster99 commented on #64
This is a known bug with the platform; closing.

[2014-04-25 13:24] #64 closed, assigned to kanglu666

[2014-04-25 13:28] alanfoster99 opened #65 "Leak Detection - Data schema"
Please establish a link to the survey table in the schema, as per email from Eric, 4/23

[2014-04-25 17:22] kanglu666 commented on #48
done

[2014-04-25 17:23] kanglu666 commented on #59
done

[2014-04-25 17:24] kanglu666 commented on #63
done, please use ipad to test.
if use chrome, the gps accuracy is really bad.
then the bubble will be super larger.

[2014-04-25 17:24] kanglu666 commented on #65
please check with Eric. or see the report design.

[2014-04-28 16:47] alanfoster99 commented on #48
Confirmed and closed

[2014-04-28 16:47] #48 closed, assigned to alanfoster99

[2014-04-28 16:50] alanfoster99 commented on #59
Confirmed and closed.

[2014-04-28 16:50] #59 closed, assigned to alanfoster99

[2014-04-28 16:56] alanfoster99 commented on #63
Confirmed and closed

[2014-04-28 16:56] #63 closed, assigned to alanfoster99

[2014-04-28 16:57] alanfoster99 commented on #65
What needs to be done on this?

[2014-04-29 15:35] alanfoster99 opened #66 "Leak Detection - Map Layers - Historical Leaks"
Please include the "old" leaks database to be as a single symbol, entitled "Historical Leaks"; all 4 classes will be symbolized by this.  Alan to assist

[2014-04-29 19:52] alanfoster99 opened #67 "Leak Detection - Submit Leak - Workflow"
Please replace the "Repaired" button with a "View Report" button, which will allow the user to view the dynamically created report.

![image](https://cloud.githubusercontent.com/assets/7118831/2833988/cb26d7a4-cfd7-11e3-8c1c-08f98a2e6c24.png)

[2014-04-29 21:15] JMurk commented on #66
I've updated the map service to show one symbol for ALL records in the old leak database.  To change the name of the feed, assign to Lu.

[2014-04-29 21:16] JMurk commented on #58
done.

[2014-04-30 15:14] kanglu666 commented on #67
"Repaired" button is used to change the status from "emailed" to "repaired".
Do you want to change the work flow?

[2014-04-30 19:32] alanfoster99 commented on #66
Lu, please change the name of the feed to "Historical Leaks"; add to the Leak Detection group.

[2014-04-30 19:40] alanfoster99 opened #68 "Leak Detection - General - Create Discrepancy Tool"
Please add a button for Discrepancy Tool -- entitle "Log Discrepancy"

Provide a form for the user to input pertinent information:

User selects Feature Class:  Water || Sewer || Storm
User selects Feature Type (based upon which Class is chosen)
User selects Discrepancy Type:  Feature Not In Map || Existing Feature || Cannot Locate Feature
User enters comments
(X,Y info from click; user name from

[2014-04-30 19:43] alanfoster99 opened #69 "Leak Detection - New Leak - SR Number"
Please add a field for the user to input SR Number, place above WO Number

![image](https://cloud.githubusercontent.com/assets/7118831/2846218/c0e34052-d09f-11e3-8e76-375c35be6f2b.png)

[2014-04-30 19:44] alanfoster99 opened #70 "Leak Detection - Leak Report - Layout"
Lu is adding SR Number to the fields the user can enter ; please add this to the report as well.

[2014-04-30 19:47] alanfoster99 opened #71 "Leak Detection - Survey Report - Create"
We need to get the Survey Points exporting to their own report; requested was the ability to create a report based on active record / screen extent; the report was requested to have:
o   Title information
o   WO & SR number (these will be separate fields)
o   Map showing Survey Points, but not leaks
o   Any comments
o   Any photos of the selected record

[2014-04-30 19:53] alanfoster99 commented on #58
Closing

[2014-04-30 19:53] #58 closed, assigned to alanfoster99

[2014-04-30 19:53] kanglu666 commented on #66
done, historical leak layer has been added into leak detection app. by default it's turned off.

[2014-04-30 19:55] alanfoster99 commented on #67
We are changing the workflow; eventually the repaired status will be provided by a link to Cityworks.  We aren't there yet, so let's leave this as is until we figure out that piece.  We do need a view report function, though.  Will log as separate request.

[2014-04-30 19:55] #67 closed, assigned to alanfoster99

[2014-04-30 19:57] alanfoster99 opened #72 "Leak Detection - New Leak - View Report"
Once the user has emailed the report, please add a button, "View Report" which creates the dynamically generated report for the user.

![image](https://cloud.githubusercontent.com/assets/7118831/2846371/988b3176-d0a1-11e3-8747-40c358c97aec.png)

[2014-04-30 19:59] alanfoster99 opened #73 "Leak Detection - New Leak - Save Message"
When the user saves the leak, the popup window needs to say:

"The record is saved but NOT emailed"

![image](https://cloud.githubusercontent.com/assets/7118831/2846394/d6dd74ca-d0a1-11e3-82f2-b838bae0790d.png)

[2014-04-30 20:01] alanfoster99 opened #74 "Leak Detection - Email Leak - Popup Message"
If the user saves and emails a leak, and then presses the save button again, if the user goes back to the map tab, they are informed that it has not yet been saved.  Please change the logic to keep track of the latest status of the leak.

![image](https://cloud.githubusercontent.com/assets/7118831/2846406/fd5856a6-d0a1-11e3-810c-dc148d2f5fda.png)

[2014-05-01 12:39] alanfoster99 commented on #66
Confirmed -- closed

[2014-05-01 12:39] #66 closed, assigned to alanfoster99

[2014-05-01 14:21] alanfoster99 opened #75 "Leak Detection - Historical Leaks - Identify"
Please set the Historical Leaks as identifiable.  When the user identifies a historical leak, please provide the leak name and a hyperlink to the existing PDF.

[2014-05-01 18:08] kanglu666 commented on #69
there is no WO Number field in the database. has SR Number field
do we need to update the schema?
right now, in the app, it's SR Number but shows as WO Number.

[2014-05-01 18:12] alanfoster99 commented on #69
Yes, we will need to update schema -- apparently both fields can be populated.

[2014-05-01 19:50] kanglu666 commented on #69
done

[2014-05-01 19:50] kanglu666 commented on #72
done, report button will show, after emailed the leak.
right now, the report is hitting KCI version. i will publish leak report at city side soon.

[2014-05-01 19:51] kanglu666 commented on #73
done

[2014-05-01 19:51] kanglu666 commented on #74
done

[2014-05-01 19:52] kanglu666 commented on #68
need design and work flow.

[2014-05-02 12:55] alanfoster99 commented on #69
Confirmed and closed.

[2014-05-02 12:55] #69 closed, assigned to alanfoster99

[2014-05-02 13:00] alanfoster99 opened #76 "Leak Detection - View Report - Server issue"
The View Report request is hitting the dashboard.kci site with the report request, and is causing an error.  Please redirect to the City site.

![image](https://cloud.githubusercontent.com/assets/7118831/2862758/a5bf3c62-d1f9-11e3-8024-bd5ecb548564.png)

![image](https://cloud.githubusercontent.com/assets/7118831/2862759/aa460568-d1f9-11e3-8764-26d2c4371818.png)

[2014-05-02 13:02] alanfoster99 opened #77 "Leak Detection - Leak - Workflow"
If the user saves and emails a leak, when they attempt to return to the map tab, a message pops up informing them that the leak has not been submitted.  Please correct the logical test.

![image](https://cloud.githubusercontent.com/assets/7118831/2862774/e9253a1a-d1f9-11e3-8654-7e2ff6af7197.png)

[2014-05-02 13:03] alanfoster99 commented on #72
Confirmed.  Created separate ticket for publishing to city side, so closing this request.

[2014-05-02 13:03] #72 closed, assigned to alanfoster99

[2014-05-02 13:06] alanfoster99 commented on #73
Please set a condition to continue to watch the emailed status of the leak; right now, the "saved but not emailed" message only occurs once; the message needs to persist until the user carries out the email request.

[2014-05-02 13:08] alanfoster99 commented on #74
Confirmed and closed.

[2014-05-02 13:08] #74 closed, assigned to alanfoster99

[2014-05-02 15:59] alanfoster99 commented on #76
Confirmed complete and closing.

[2014-05-02 15:59] #76 closed, assigned to kanglu666

[2014-05-02 16:04] alanfoster99 opened #78 "Leak Detection - View Report - Repaired Leak issue"
Once a leak has been marked as "Repaired", if the user accesses the report, the map is not being generated.  Please correct this so that the map shows up on the report.

![image](https://cloud.githubusercontent.com/assets/7118831/2864680/5e36a352-d213-11e3-8873-76c6d9834cb2.png)

[2014-05-02 16:27] alanfoster99 opened #79 "Leak Detection - Leak Report - Workflow"
Once a user has marked a leak as "Repaired", the report is no longer viewable once the user has returned to the map tab.  Please make it so that the report is always available once it has been emailed.

![image](https://cloud.githubusercontent.com/assets/7118831/2864924/9ab4f5d8-d216-11e3-92f5-76cb09613e7e.png)

[2014-05-02 17:15] kanglu666 commented on #73
done

[2014-05-02 17:16] kanglu666 commented on #77
done

[2014-05-02 17:17] kanglu666 commented on #79
done

[2014-05-02 17:39] alanfoster99 commented on #73
Confirmed and closed

[2014-05-02 17:39] #73 closed, assigned to alanfoster99

[2014-05-02 17:41] alanfoster99 commented on #77
Confirmed and closed.

[2014-05-02 17:41] #77 closed, assigned to alanfoster99

[2014-05-02 17:41] alanfoster99 commented on #79
Confirmed and closed.

[2014-05-02 17:41] #79 closed, assigned to alanfoster99

[2014-05-02 17:42] alanfoster99 commented on #68
I believe Joe is working on this -- do you want assistance Joe?

[2014-05-02 17:43] kanglu666 commented on #78
done

[2014-05-02 17:44] alanfoster99 commented on #78
Confirmed and closed.

[2014-05-02 17:44] #78 closed, assigned to alanfoster99

[2014-05-02 19:11] JMurk commented on #68
I'm working on the Feature Class design and the UV design/workflow.  You can work on the mobile app design if you want.

[2014-05-05 15:43] kanglu666 commented on #75
Please provide me the work flow, all the PDFs.
Should i use the current "Leak_Attachment" table to link the documents to the leak record? or anyone will provide me an new one?

[2014-05-05 15:49] alanfoster99 commented on #75
I will pull together the work flow.  As to all the PDFs, all I have is what is here:
https://www.dropbox.com/s/dc0afvd846l1y4b/Leaks.zip
Your table lists 140 that I don't have in that archive, so I'm curious if there are any on the server that you know of?  The table that you have is the most current there is, I don't believe that anything should have changed since then -- we just need to find the

[2014-05-06 13:48] kanglu666 commented on #75
done

[2014-05-06 17:03] alanfoster99 commented on #75
Confirmed and closing.

[2014-05-06 17:03] #75 closed, assigned to alanfoster99

[2014-05-07 18:59] alanfoster99 commented on #68
Please get X, Y info from click, user name from session, and feature type from app and include with email of all information gathered from user form.

Wireframe is located at:
M:\2010\13101078\Reports\Geospatial\Leak Detection\Design\Wireframes\Discrepancy\Discrepancy_Wireframe

[2014-05-09 15:33] alanfoster99 commented on #65
This is no longer an issue -- closing

[2014-05-09 15:33] #65 closed, assigned to tarheelgis

[2014-05-09 15:54] alanfoster99 opened #80 "Leak Detection - Report - Layout"
Please remove Offset Distance from the leak report.

[2014-05-09 18:30] alanfoster99 opened #81 "Leak Detection - Leak Details - Popup"
If a user saves a leak and then attempts to return to the map, the popup window states:

"The leak is not submitted / repaired.  Continue?"

Please change it to say:

"The leak is not emailed / repaired.  Continue?"

![image](https://cloud.githubusercontent.com/assets/7118831/2931809/c98a117c-d7a7-11e3-8b07-0b74ef862dd8.png)

[2014-05-09 18:32] alanfoster99 opened #82 "Leak Detection - Edit Survey - Popup"
If the user has saved a survey and attempts to return to the map, the popup states:

"The survey is not submitted.  Continue?"

Please change this to say:

"The survey is not emailed.  Continue?"

![image](https://cloud.githubusercontent.com/assets/7118831/2931837/161c379a-d7a8-11e3-8400-5edaeb587e42.png)

[2014-05-09 18:52] alanfoster99 opened #83 "Leak Detection - Survey Detail - Layout"
Please add fields to allow the user to enter values for:

Comments
WO Number

[2014-05-09 19:04] tarheelgis commented on #80
completed please verify when changes post

[2014-05-09 19:04] tarheelgis commented on #70
completed please check when changes post

[2014-05-09 19:05] tarheelgis commented on #71
completed please check when changes post

[2014-05-09 19:08] alanfoster99 commented on #82
Was looking at wrong instance.  Closing

[2014-05-09 19:08] #82 closed, assigned to kanglu666

[2014-05-09 19:08] alanfoster99 commented on #81
Was looking at wrong instance.  Closing.

[2014-05-09 19:08] #81 closed, assigned to kanglu666

[2014-05-12 20:08] alanfoster99 opened #84 "Leak Detection - Survey - Report Workflow"
Please add functionality to the app so the user can see the report after they have emailed a survey report.  Please set it up as you did for leak.

[2014-05-12 20:14] alanfoster99 opened #85 "Leak Detection - Survey - Edit Survey"
Please add fields to allow the user to enter WO & SR numbers to the edit survey info

[2014-05-13 04:02] kanglu666 commented on #83
done

[2014-05-13 04:03] kanglu666 commented on #84
done

[2014-05-13 04:03] kanglu666 commented on #85
done

[2014-05-13 12:34] alanfoster99 commented on #70
Lu, please check the fields and see why they are not populating correctly -- SR Number is getting mapped to WO in the report, and WO number is not displaying.  See attached:

![image](https://cloud.githubusercontent.com/assets/7118831/2957140/de6d9a64-da9a-11e3-9e7e-56740e942c53.png)

![image](https://cloud.githubusercontent.com/assets/7118831/2957141/e77c84f8-da9a-11e3-8bba-0b22b13b1457.png)

[2014-05-13 12:40] alanfoster99 commented on #71
Looks good, closing

[2014-05-13 12:40] #71 closed, assigned to tarheelgis

[2014-05-13 12:40] alanfoster99 commented on #80
Confirmed and closing

[2014-05-13 12:40] #80 closed, assigned to tarheelgis

[2014-05-13 12:41] alanfoster99 commented on #83
Confirmed and closing

[2014-05-13 12:41] #83 closed, assigned to alanfoster99

[2014-05-13 12:41] alanfoster99 commented on #84
Confirmed and closing

[2014-05-13 12:41] #84 closed, assigned to alanfoster99

[2014-05-13 12:43] alanfoster99 commented on #85
Confirmed and closing

[2014-05-13 12:43] #85 closed, assigned to alanfoster99

[2014-05-13 13:27] kanglu666 commented on #70
Done at city side, please test.
the store procedure is missing WO_Number, and the leak report give SR_Number value to WO_Number field. i have make the updates at city side.
Please assign to Eric for updating the solution and  the store procedure at KCI side.

[2014-05-13 13:47] alanfoster99 commented on #70
Eric, please see above notes and make appropriate changes.

[2014-05-13 14:27] tarheelgis commented on #70
Updated and sent to Lu for posting. Please test ASAP

[2014-05-13 16:26] alanfoster99 opened #86 "Leak Detection - Reports - Location Discrepancies"
Survey and leak points shown close to each other on the map view, are in the report offset from actual locations.  Is there a setting where we can force them to draw in the correct location?  See two attached images below:

![image](https://cloud.githubusercontent.com/assets/7118831/2960252/1931b2b4-dabb-11e3-94fa-5a04a7e0ba2b.png)

![image](https://cloud.githubusercontent.com/assets/7118831/29602

[2014-05-13 17:44] alanfoster99 commented on #70
Corrected -- closing

[2014-05-13 17:44] #70 closed, assigned to tarheelgis

[2014-05-14 18:00] alanfoster99 opened #87 "Leak Detection - Leak Report - Layout"
Please remove "EMAILED TO MAINT?:" from the report

[2014-05-14 18:01] alanfoster99 opened #88 "Leak Detection - Leak Report - Layout"
Please remove meters from the map image for leak reports.

[2014-05-14 18:02] alanfoster99 opened #89 "Leak Detection - Leak Report - Orientation"
Photos which are attached to leak reports are being rotated 90 degrees; please make sure they retain the original orientation.

![image](https://cloud.githubusercontent.com/assets/7118831/2975161/e9e5600a-db91-11e3-8c0f-44cf6704a5eb.png)

[2014-05-14 18:03] alanfoster99 opened #90 "Leak Detection - Survey Report - Orientation"
Photos which are attached to survey reports are being rotated 90 degrees; please make sure they retain the original orientation.

![image](https://cloud.githubusercontent.com/assets/7118831/2975170/09b22904-db92-11e3-8a14-0a573705a745.png)

[2014-05-14 18:09] alanfoster99 opened #91 "Leak Detection - Edit Survey - Workflow"
Please change the workflow for the edit survey tab to be as follows:

Please make "Edit Photos", "Delete" and "Save" always available, regardless of survey status

Please remove the "Email" button

Please make "View Report" available as soon as the user has pressed the "Save" button

[2014-05-14 18:10] alanfoster99 opened #92 "Leak Detection - New Survey - Workflow"
Please keep the focus on the Edit Survey tab when the user presses the "Save" button, and do not switch back to the Map tab

[2014-05-14 18:14] alanfoster99 opened #93 "Leak Detection - Edit Leaks - Email"
Please email reports to alan.foster@kci.com for testing purposes.

[2014-05-14 18:34] tarheelgis commented on #86
Interesting. This definitely has to do with DPI vs map scale issues IMHO. Stock is 96 DPI but that prints like crap so I bumped it and all map services to 150 and adjusted the scale synchronously with all other services as well and it appears to have this effect. It was not noticeable on single point testing and other services appear to be lined up correctly. I will investigate

[2014-05-15 14:30] kanglu666 commented on #92
as we discussed this before, when a user create Multiple Surveys, after "Save" (create those new surveys), it cannot stay at the Survey Detail page

[2014-05-15 14:54] kanglu666 commented on #91
work flow issue: when user create multiple surveys. after click "Save"
then ""View Report"" button available? which survey to view is a problem.

[2014-05-15 15:40] kanglu666 commented on #93
email leak report plunged in. please clear browser cache, test.
we need to talk about the survey part.
"remove email button" means not email survey report?

[2014-05-15 16:40] kanglu666 commented on #91
updated:  "Edit Photos", "Delete" and "Save" always available,
"Email" button renamed to "Submit" which will change the status of the Survey.

[2014-05-15 17:26] alanfoster99 commented on #93
correct -- surveys will not always be emailed, so we just want them to be able to create the survey data and then view the report

[2014-05-15 17:43] tarheelgis commented on #89
Have we isolated that it is the report that is rotating the images and not the data entry application? It appears in my testing that the images are reading correctly based on the stored rotation of the file.

[2014-05-15 17:44] tarheelgis commented on #90
Have we isolated that it is the report that is rotating the images and not the data entry application? It appears in my testing that the images are reading correctly based on the stored rotation of the file.

[2014-05-15 17:44] tarheelgis commented on #87
completed please test on next publish of app

[2014-05-15 17:46] alanfoster99 commented on #90
You are correct -- Lu, please examine

[2014-05-15 17:46] alanfoster99 commented on #89
You are correct -- Lu, please examine

[2014-05-15 17:47] kanglu666 commented on #93
done.

[2014-05-15 17:55] kanglu666 commented on #90
done

[2014-05-15 17:55] kanglu666 commented on #89
done, if the photo come from ipad, it will auto rotate 90 when upload to server.

[2014-05-15 18:09] alanfoster99 commented on #89
Confirmed and closing

[2014-05-15 18:09] alanfoster99 commented on #90
Confirmed and closing.

[2014-05-15 18:15] alanfoster99 commented on #91
Do we even need the submit button?  View Report is showing up after saving surveys.
Can the view report center at the user click which is the center of the selection buffer?

[2014-05-15 18:17] kanglu666 commented on #91
"Submit" button is control the Survey Status of the survey change from  "In Progress" to "Submit"

[2014-05-15 18:37] tarheelgis commented on #88
complete please check when next published

[2014-05-15 18:43] alanfoster99 commented on #90
Please check and see if methods exist to rotate images appropriately based upon source (web vs. iOS) -- if not, please default so iOS supplied images are displayed properly

[2014-05-15 18:43] alanfoster99 commented on #89
Please check and see if methods exist to rotate images appropriately based upon source (web vs. iOS) -- if not, please default so iOS supplied images are displayed properly

[2014-05-15 18:44] alanfoster99 commented on #86
Are the symbols being treated as labels instead of points?  Could that be part of the issue?

[2014-05-15 18:47] alanfoster99 opened #94 "Leak Detection - Survey - Work Flow"
Surveys no longer need a distinction between In Progress vs. Submitted; please use a single symbol to show the surveys.  Please make sure that the change does not adversely affect the reports.

[2014-05-15 18:48] alanfoster99 commented on #92
Understood -- closing

[2014-05-15 18:48] #92 closed, assigned to alanfoster99

[2014-05-15 18:49] alanfoster99 commented on #91
Status is no longer needed as per our discussion; see #94 for further info

[2014-05-15 18:50] alanfoster99 commented on #93
Confirmed and closing

[2014-05-15 18:50] #93 closed, assigned to alanfoster99

[2014-05-15 19:17] tarheelgis commented on #86
Scaling issue is fixed. It turned out to be a combination of 2 things. I had a manual scaling factor combined with DPI mixed in with a setting the request did not like. Weird...

[2014-05-16 11:40] alanfoster99 commented on #86
Confirmed and closing

[2014-05-16 11:40] #86 closed, assigned to tarheelgis

[2014-05-16 11:41] alanfoster99 commented on #87
Confirmed and closing

[2014-05-16 11:41] #87 closed, assigned to tarheelgis

[2014-05-16 11:46] alanfoster99 commented on #88
Confirmed and closing

[2014-05-16 11:46] #88 closed, assigned to tarheelgis

[2014-05-16 11:47] alanfoster99 commented on #91
Confirmed and closing.

[2014-05-16 11:47] #91 closed, assigned to kanglu666

[2014-05-16 11:49] alanfoster99 commented on #94
Complete and closing

[2014-05-16 11:49] #94 closed, assigned to kanglu666

[2014-05-19 13:39] kanglu666 commented on #89
done. when saving photos, the server will determine to rotate and save photos based on the the browser type.  Please test in Ipad and Chrome.

[2014-05-19 13:40] kanglu666 commented on #90
done, please test Ipad and Chrome

[2014-05-19 17:52] alanfoster99 commented on #90
Not working in iPad for viewing report -- photo taken on iPad displays correctly when viewed in the Image Manager, but not when viewed on iPad in the report.  Photos display fine in Chrome when uploaded from iPad.

[2014-05-19 19:11] alanfoster99 opened #95 "Leak Detection - Historical Leak - Workflow"
Currently, if a user identifies a historical leak, the leak information is shown as editable, and report is not visible.  Please make it so that historical leaks cannot be edited, have photos attached, be deleted or be emailed.  Please do make reports available.

[2014-05-28 13:55] alanfoster99 opened #96 "Leak Detection - Email report - distribution list"
Please add the following two addresses to the leak distribution list:

Madeleine.Driscoll@baltimorecity.gov
Anthony.Stevenson@baltimorecity.gov

[2014-05-28 13:59] alanfoster99 commented on #89
Still not working correctly on iPad

[2014-05-28 14:51] kanglu666 commented on #95
done, identify historical leaks on the map, pick one from the result list, the historical leak report will be automatically open. Since the scheme of the old leak is not the same as the new leak schema, and the historical leak is not editable, so system will not navigate to the leak detail page for historical leak.

Please Clear Browser cache, test.
i'm working on discrepancy tool for leak mobile.

[2014-05-28 15:19] kanglu666 commented on #68
Adding new Discrepancy tool has been added in leak detection mobile app. please clear your browser cache and test.

[2014-05-28 19:05] alanfoster99 commented on #95
Historical report is not linking -- please recheck.

[2014-05-28 19:07] kanglu666 commented on #95
working fine for me. you need tap on the arrow icon, then it will fire the report.

[2014-05-28 19:18] alanfoster99 commented on #95
Works -- popups were blocked.  Closing.

[2014-05-28 19:18] #95 closed, assigned to kanglu666

[2014-05-28 19:24] alanfoster99 commented on #68
Please sort feature types alphabetically, and remove the second "Detailed Description of the Discrepancy"

[2014-05-30 15:28] alanfoster99 opened #97 "Leak Detection - New Leak - Bug"
On Android platform, creating a new leak locks the system.  If user selects that they cannot identify the leaking feature, the system goes to the Leaks Tab and locks; if they indicate they can identify the feature, the system populates the list of available features but does not progress beyond the list.

[2014-06-03 15:45] kanglu666 commented on #68
Discrepancy tool for Leak Detection has been updated. please clear browser cache and test

[2014-06-03 15:46] kanglu666 commented on #97
all city mobile apps are designed for ipad.

[2014-06-12 19:43] alanfoster99 commented on #68
Looks good.  Closing.

[2014-06-12 19:43] #68 closed, assigned to alanfoster99

[2014-06-12 19:45] alanfoster99 opened #98 "Leak Detection - New Leak - Workflow"
Please create a record of the server-time and date when the leak was created.  This should not be user editable.  Please call this "Record Date".

[2014-06-12 19:46] alanfoster99 opened #99 "Leak Detection - Report - Add Field"
Please add the "Record Date" field once Lu has implemented in the app.

[2014-06-12 19:48] alanfoster99 opened #100 "Leak Detection - Leak - Data structure"
Please remove the following from the app (edit leak):

Depth
Confirmed
Repair Required

[2014-06-12 19:48] alanfoster99 opened #101 "Leak Detection - Report - Remove Fields"
Please remove the following fields from the report:

Depth
Confirmed
Repair Required

[2014-06-18 19:04] kanglu666 commented on #98
do you want to add an new field "Record_Date" into the leak feature class? update the db schema

[2014-06-18 19:05] kanglu666 commented on #100
do you want to remove these three fields from the database? or just remove them from the app, leave them in the db schema

[2014-06-18 20:56] alanfoster99 commented on #100
Just remove from app for now

Alan E. Foster

Senior Geospatial Analyst, KCI Technologies, Inc.
1.410.316.0812tel:1.410.316.0812
alan.foster@kci.commailto:alan.foster@kci.com

Lead, UAMD Data Management Section
1.410.396.0022tel:1.410.396.0022

On Jun 18, 2014, at 12:05, "lu" <notifications@github.com<mailto:notifications@github.com>> wrote:

do you want to remove these three fields from the datab

[2014-06-18 20:57] alanfoster99 commented on #98
Yes please.

Alan E. Foster

Senior Geospatial Analyst, KCI Technologies, Inc.
1.410.316.0812tel:1.410.316.0812
alan.foster@kci.commailto:alan.foster@kci.com

Lead, UAMD Data Management Section
1.410.396.0022tel:1.410.396.0022

On Jun 18, 2014, at 12:04, "lu" <notifications@github.com<mailto:notifications@github.com>> wrote:

do you want to add an new field "Record_Date" into the leak feature clas

[2014-06-20 12:29] JMurk commented on #98
Schema has been updated.  Lu, please update.

[2014-06-20 12:32] JMurk commented on #97
This bug should still be resolved.  The City has no standard tablet that they use, therefore it is very possible android devices will be used.

Alan- what are the crews going to be using immediately?

[2014-06-20 16:03] alanfoster99 commented on #97
We have told them to use iOS, but no verification. There is an android at the office for testing.

Alan E. Foster

Senior Geospatial Analyst, KCI Technologies, Inc.
1.410.316.0812tel:1.410.316.0812
alan.foster@kci.commailto:alan.foster@kci.com

Lead, UAMD Data Management Section
1.410.396.0022tel:1.410.396.0022

On Jun 20, 2014, at 5:32, "Joe Murk" <notifications@github.com<mailto:notifications@gi

[2014-06-22 19:36] kanglu666 commented on #100
updated, please clear browser cache and test

[2014-06-22 19:37] kanglu666 commented on #98
done

[2014-06-22 19:37] kanglu666 commented on #96
done

[2014-06-23 13:14] alanfoster99 commented on #96
Confirmed complete

[2014-06-23 13:14] #96 closed, assigned to alanfoster99

[2014-06-23 13:18] alanfoster99 commented on #97
I will be at the office this afternoon and can run through the testing on the Android device when I am there.

[2014-06-23 13:25] alanfoster99 commented on #100
Confirmed and closed

[2014-06-23 13:25] #100 closed, assigned to alanfoster99

[2014-06-23 13:25] alanfoster99 commented on #98
Confirmed and closing.

[2014-06-23 13:25] #98 closed, assigned to alanfoster99

[2014-06-25 17:14] alanfoster99 commented on #101
Confirmed and closing

[2014-06-25 17:14] #101 closed, assigned to tarheelgis

[2014-06-25 17:15] alanfoster99 commented on #97
Testing complete on Android platform, no issues encountered.  Closing.

[2014-06-25 17:15] #97 closed, assigned to alanfoster99

[2014-06-25 17:15] alanfoster99 commented on #99
Confirmed and closing.

[2014-06-25 17:15] #99 closed, assigned to tarheelgis

[2014-06-25 17:17] alanfoster99 opened #102 "Leak Detection - Email report - distribution list"
Please add the following to the distribution list:

Olalekan.Olamide@baltimorecity.gov

Can I edit these in the future so you don't have to worry with updates?

[2014-07-02 15:59] alanfoster99 commented on #102
Please address this -- he needs to receive the emails.

[2014-07-02 16:56] alanfoster99 opened #103 "URGENT URGENT Leak Detection - Add Leak - Service"
When the user attempts to create a leak and associate it with a service line, the application will not save the record.

[2014-07-04 18:50] kanglu666 commented on #103
fixed. please clear browser cache and test

[2014-07-04 18:50] kanglu666 commented on #102
updated.

[2014-07-15 13:15] alanfoster99 commented on #102
Confirmed and closed

[2014-07-15 13:15] #102 closed, assigned to alanfoster99

[2014-07-15 13:15] alanfoster99 commented on #103
Confirmed and closed

[2014-07-15 13:15] #103 closed, assigned to alanfoster99

[2014-07-15 13:19] alanfoster99 opened #104 "Leak Detection - Email Report - Subject"
Please add the asset type and asset ID to the subject line of the emails being sent.

For example:
"Leak reported on hydrant 133C002585"

If the asset type and ID are not known (user did not associate the leak to an asset) please have the subject as:
"Leak reported on unknown asset"

[2014-07-15 13:20] alanfoster99 opened #105 "Leak Detection - Leak Report - Add Field"
Please add the Leak ID to the Leak Report.

[2014-07-16 19:48] kanglu666 commented on #104
updated, please clear cache and test

[2014-07-17 16:42] alanfoster99 commented on #104
Confirmed and closed

[2014-07-17 16:42] #104 closed, assigned to alanfoster99

[2014-07-17 16:43] alanfoster99 opened #106 "Leak Detection - Report - Typo"
Please correct "FEATUER TYPE:" to be "FEATURE TYPE:"

[2014-07-21 17:48] alanfoster99 opened #107 "Leak Detection - Email report - distribution list"
Please update the application to send emails to the following address:

Leaks@baltimorecity.gov

[2014-07-21 17:49] alanfoster99 commented on #105
Complete and closing.

[2014-07-21 17:49] #105 closed, assigned to tarheelgis

[2014-07-22 19:54] alanfoster99 opened #108 "Leak detection - photos"
Please add a time and date stamp to photos in the lower left corner. This will need to be deployed to all mobile apps.

[2014-07-25 12:07] tarheelgis commented on #106
Cannot seem to locate this in the project. Can you provide me a little more detail? Thanks!

[2014-07-25 16:40] alanfoster99 commented on #106
http://dpwview.baltimorecity.gov/LeakReport/LeakReport.aspx?LeakID=df68076c-4f04-0ee8-1f23-b936b8a4878f

Check out the first line – right side, after leak object ID

[2014-07-25 16:53] alanfoster99 opened #109 "Leak Detection - Zoom to Leak ID"
Please add a button to the interface allowing the user to search by leak ID.

Workflow should be:

User clicks button on map interface
App asks "Please enter Leak ID:"
User inputs leak ID into form
If ID found, please zoom the map to the location
If ID does not exist, please return error message "No leak found with that ID" and require to press "Okay" button

[2014-07-25 17:18] kanglu666 commented on #107
done

[2014-07-25 17:18] kanglu666 commented on #106
updated

[2014-07-25 17:33] alanfoster99 commented on #107
Confirmed complete

[2014-07-25 17:33] #107 closed, assigned to alanfoster99

[2014-07-28 19:03] kanglu666 commented on #108
done

[2014-07-29 15:46] alanfoster99 opened #110 "Leak Detection - Photos not uploading"
We have been unable to upload photographs to the app.  Crews are saying that the files load, but none are showing on the report.

[2014-07-29 18:02] kanglu666 commented on #110
fixed

[2014-07-29 19:45] alanfoster99 commented on #110
Confirmed and closing

[2014-07-29 19:45] #110 closed, assigned to alanfoster99

[2014-07-29 19:58] alanfoster99 commented on #106
Confirmed and closing

[2014-07-29 19:58] #106 closed, assigned to alanfoster99

[2014-08-04 15:17] kanglu666 commented on #109
deployed on dev, please test:

http://dpw-gw03dev-srv/water/leakwebapi/index.aspx

[2014-08-04 15:30] alanfoster99 commented on #109
Looks good -- please change error message for alpha search from:
"Please enter correct Leak Object ID Number"
to:
"Please enter a valid ID"

[2014-08-05 14:37] kanglu666 commented on #109
updated

[2014-08-05 18:41] alanfoster99 commented on #109
Has this been deployed to the City?  I have cleared cache and reloaded, but am not seeing it.

[2014-08-05 18:43] kanglu666 commented on #109
on dev server: http://dpw-gw03dev-srv/water/leakwebapi/index.aspx
i will push to prod at night

[2014-08-05 18:50] alanfoster99 commented on #109
Looks good on dev -- will close once verified functional on production.  Please proceed with moving to production in the evening.

[2014-08-13 20:22] alanfoster99 commented on #109
Confirmed and closing

[2014-08-13 20:22] #109 closed, assigned to alanfoster99

[2014-08-13 20:22] alanfoster99 commented on #108
Confirmed and closing

[2014-08-13 20:22] #108 closed, assigned to alanfoster99

[2014-08-13 20:24] alanfoster99 opened #111 "Leak Detection - Meter Information"
The app is recording the Meter Number for leaks on meters, not the FacilityID -- please change it to use FacilityID

![image](https://cloud.githubusercontent.com/assets/7118831/3912100/b57dc05e-2327-11e4-98c8-959efa3276d9.png)

[2014-09-02 12:24] alanfoster99 opened #112 "Leak Detection - New Leak - Leak Status"
Please add capability to track if a leak is a customer side leak:

Add the following button to the leak form:

"Customer Side"

Please place this at the top of the form, between "Save" and "Email"

Joe, please add to the schema, then assign to Lu.

Lu, please update the app and the report to show this information.

Workflow will be user will create leak, save as usual; user taps "Customer Side"; s

[2014-09-22 11:56] alanfoster99 opened #113 "Leak Detection - Report - Syntax"
Please change the header from "UTILITY MAINTENANCE DIVISION" to "OFFICE OF ASSET MANAGEMENT" in the report

[2014-09-22 14:32] alanfoster99 commented on #90
Abandoning for now

[2014-09-22 14:32] #90 closed, assigned to kanglu666

[2014-09-22 14:33] alanfoster99 commented on #89
Abandoning for now

[2014-09-22 14:33] #89 closed, assigned to kanglu666

[2014-09-23 14:51] kanglu666 commented on #111
Joe, please update the meter layer in map services, use "FacilityID" as  the displayField.
this will auto fix this issue

[2014-09-29 16:40] kanglu666 commented on #112
Joe, please update the Leak_Detection_Map map service to add a "Customer Side Leak" layer.

[2014-09-30 04:03] kanglu666 commented on #112
done a city dev, please test

[2014-09-30 12:24] alanfoster99 commented on #112
Lu,
Where is the new button?  I have cleared cache, used incognito mode, unable to find?  Am using dev.

[2014-09-30 13:04] kanglu666 commented on #112
in the top bar of the leak detail form. between save and email
![1](https://cloud.githubusercontent.com/assets/6352480/4458365/4bc33fe0-48a2-11e4-96f1-6b3d912bd77b.JPG)

[2014-09-30 14:34] alanfoster99 commented on #112
Looks good -- please push to Prod.

[2014-09-30 16:21] alanfoster99 opened #114 "Leak Detection - Data - User Tracking"
The app is currently reporting the last user; Madeleine has requested that we change this to report the first user (reporter).  Should we update the schema to record this and report it, or simply change the app to only record the first user?

[2014-09-30 17:13] kanglu666 commented on #114
both options are fine for me. you decide

[2014-10-01 12:14] alanfoster99 commented on #114
After discussing with Amy, we need to add a field to the schema; she wants to retain last user in the table, but agrees we should include "reported by" in the report.

Please add a field to the feature class to track "reported by", then update the app to record the leak creator as the "reported by" individual; please change the report to show "Reported By:" instead of last editor.

[2014-10-01 20:14] JMurk commented on #111
Should be updated in both dev and prod.

[2014-10-02 18:21] alanfoster99 commented on #111
Confirmed and closing

[2014-10-02 18:21] #111 closed, assigned to alanfoster99

[2014-10-02 18:37] kanglu666 commented on #112
Joe, please update the Leak map service at city prod.
we can do this this weekend

[2014-10-02 18:52] alanfoster99 opened #115 "Leak Detection - Available views"
Please add feeds for sewer and stormwater data to the leak detection app.

[2014-10-03 11:26] JMurk commented on #115
Lu, please add the Wastewater and Stormwater feeds to the app.

[2014-10-03 11:39] JMurk commented on #114
Schema change made in dev, will change in prod Saturday morning.

[2014-10-04 13:18] JMurk commented on #112
Map service updated for prod.

[2014-10-04 13:18] JMurk commented on #114
Schema updated in prod.

[2014-10-05 09:10] kanglu666 commented on #112
done at city prod, ready for testing

[2014-10-05 09:21] kanglu666 commented on #115
Wastewater and Stormwater feeds have been added in both prod and dev

[2014-10-06 12:54] alanfoster99 commented on #115
Confirmed and closing

[2014-10-06 12:54] #115 closed, assigned to alanfoster99

[2014-10-06 12:55] alanfoster99 commented on #112
Confirmed and closing

[2014-10-06 12:55] #112 closed, assigned to alanfoster99

[2014-10-08 12:27] JMurk opened #116 "Leak Detection - Locator Search Not Working"
**Issue:**  When searching for an address in the locator, the application gets stuck on the loading screen.

![image](https://cloud.githubusercontent.com/assets/5805454/4558992/794ac45c-4ee6-11e4-8a89-260d93a76a73.png)

**Resolution:**  Please investigate and resolve ASAP.

[2014-10-09 13:54] kanglu666 commented on #116
fixed, please clear cache and test

[2014-10-09 14:05] JMurk commented on #116
Confirmed complete.

[2014-10-09 14:05] #116 closed, assigned to JMurk

[2014-10-09 15:43] alanfoster99 opened #117 "Leak Detection - Abandoned Mains drawing issue"
The layer is showing all mains as abandoned, please correct.

[2014-10-09 16:26] JMurk commented on #117
Updated, please check.

[2014-10-16 16:31] kanglu666 commented on #114
both app and report have been updated at city DEV, please test

[2014-10-16 17:04] alanfoster99 commented on #114
Looks good, please update at Production.  Thank you.

[2014-10-17 18:05] kanglu666 commented on #114
Done on prod

[2014-10-17 18:13] alanfoster99 commented on #117
Fixed

[2014-10-17 18:14] #117 closed, assigned to alanfoster99

[2014-10-17 18:14] alanfoster99 commented on #114
Confirmed and closing.

[2014-10-17 18:14] #114 closed, assigned to alanfoster99

[2014-11-17 12:42] alanfoster99 opened #118 "Leak Detection - Report - Error"
The current leak report is empty when being sent out.  Please correct this quickly, this is a high priority bug.

http://dpwview.baltimorecity.gov/LeakReport/LeakReport.aspx?LeakID=bc62d474-68cd-23a0-1bc2-a8cbb3319022

[2014-11-17 12:43] alanfoster99 opened #119 "Leak Detection - Leak IDs"
Please create a new leak ID field in the leak table, and populate with the "old" human-friendly leak IDs.  Once created, please iterate the new field to be the human friendly leak ID and no longer use ObjectID.

[2014-11-19 18:19] kanglu666 commented on #118
should be fixed

[2014-11-19 18:20] alanfoster99 commented on #118
Confirmed and closing

[2014-11-19 18:20] #118 closed, assigned to alanfoster99

[2014-11-19 20:14] JMurk commented on #119
This should all be completed.  Alan, please confirm and close.

[2014-11-19 20:47] alanfoster99 commented on #119
Confirmed and closing

[2014-11-19 20:47] #119 closed, assigned to alanfoster99

[2014-11-24 16:00] kanglu666 commented on #113
updated, please test

[2014-11-24 16:06] alanfoster99 commented on #113
Confirmed and closed.

[2014-11-24 16:06] #113 closed, assigned to alanfoster99

[2014-12-12 17:56] alanfoster99 opened #120 "Leak Detection - Leak - Data structure"
Please add the following status:

CLOSED - NOT REPAIRED

[2014-12-15 18:00] jday3 commented on #120
The status will now be displayed if the leak has this status, but it cannot be set in the app. This is currently in dev

[2014-12-23 18:10] alanfoster99 commented on #120
Thanks -- couple of things.  Let's change the status to be "Not Found"; the field can't be more than 20 characters, and I need to track this more than not repaired.

[2014-12-29 19:27] alanfoster99 opened #121 "Leak Detection - Leak Form"
Please change the spelling of "Occurrance" to be "Occurrence"

![image](https://cloud.githubusercontent.com/assets/7118831/5572038/c47d286e-8f66-11e4-8942-49fdd5a2c837.png)

[2014-12-30 15:11] jday3 commented on #121
Fixed on dev

[2014-12-30 15:11] jday3 commented on #120
The status is now "Not Found", on dev

[2015-01-16 16:01] alanfoster99 opened #122 "Leak Detection - Historical Leaks Broken"
When viewing a historical leak link, the following error is given:

![image](https://cloud.githubusercontent.com/assets/7118831/5779201/df7ce094-9d6e-11e4-808f-5cf0b75b57e5.png)

You can see this by querying current leak 46911

[2015-01-21 17:56] alanfoster99 opened #123 "Leak Detection - Photos not uploading"
There seems to be a server-side limit to the size of photo allowed to be attached.  3.5 MB works, 4.5 does not, server times out and gives the following error.  Is this something we can adjust, or is it imposed by MOIT?  If we cannot adjust it, we need to have an error message alerting the user to reduce the image size.  However, these are native iPad resolutions, so not many users will know how t

[2015-01-21 17:59] alanfoster99 commented on #121
Please deploy to prod

[2015-01-21 18:00] alanfoster99 commented on #120
Thanks -- sitting on this again; not sure if needs to be symbolized or not

[2015-01-26 13:14] jday3 commented on #122
Where are you trying to access the historical leak info from? Also, is this on production, dev, or both?

[2015-01-26 13:16] jday3 commented on #123
@kanglu666, you worked mainly on this functionality. Do you remember any size limitations?

[2015-01-26 14:17] alanfoster99 commented on #122
This is from the leak app on production -- identify a historical leak and the link is broken:

![image](https://cloud.githubusercontent.com/assets/7118831/5900935/22c987ce-a53c-11e4-90e5-1e987146b04e.png)

[2015-02-04 15:25] jday3 commented on #122
Fixed

[2015-03-13 13:57] alanfoster99 commented on #122
Confirmed and closing

[2015-03-13 13:57] #122 closed

[2015-03-13 13:58] alanfoster99 commented on #120
Closing for now

[2015-03-13 13:58] #120 closed

[2015-03-13 14:00] alanfoster99 opened #124 "Leak Detection - Leak Form"
On the leak detection form, please change "SR Number" to "Leak to Locate ID"; please make this update on the report as well.

![image](https://cloud.githubusercontent.com/assets/7118831/6639646/a3015558-c967-11e4-84cf-8f326bff97f9.png)

[2015-03-19 18:19] jday3 commented on #121
Done

[2015-03-19 18:28] jday3 commented on #124
Done on dev/prod

[2015-03-19 18:29] alanfoster99 commented on #121
Confirmed and closing

[2015-03-19 18:29] #121 closed

[2015-03-19 18:30] alanfoster99 commented on #124
Confirmed and closing

[2015-03-19 18:30] #124 closed

[2015-04-06 21:24] jday3 commented on #123
Sorry for the delay on this. I raised the limit, so now users should be able to upload hi res images taken with tablets/smart phones.

[2015-04-06 21:24] jday3 commented on #123
Updated on dev and prod

[2015-05-12 14:38] alanfoster99 commented on #123
Closing, thanks

[2015-05-12 14:38] #123 closed

[2015-05-18 16:58] alanfoster99 opened #125 "Leak Detection - Data - Versioning"
The leak version is not allowing rec & post to default.  We will need to move to unversioned and work in default.

[2015-06-05 19:35] JMurk opened #126 "Leak Detection - Unversion Data"
We have decided to move the leak data to an unversioned environment due to recent issues with reconcile and post as well as basic SQL access.

This has been done in dev, please check the application for code that needs to be revised as a result.  Once complete and confirmed, we will implement in production off-hours.

[2015-06-05 19:35] JMurk commented on #125
See issue #126

[2015-06-05 19:35] #125 closed

[2015-06-08 17:07] jday3 commented on #126
I made all the necessary changes on dev. They included -
1. Updating the web API to directly use the LEAKS and SURVEY tables instead of the adds tables
2. Updating the two stored procedures Leak_Report and Survey_Report to use the LEAKS and SURVEY tables instead of the views

[2015-06-11 16:44] JMurk commented on #126
This has been completed and confirmed.

[2015-06-11 16:44] #126 closed

[2015-12-17 14:30] alanfoster99 opened #127 "Leak Detection - Discrepancy Tool"
The Add Discrepancy Tool in the Leak Detection app has no functionality, and serves only as a place holder.  Please enable the tool to capture and report discrepancies.

[2016-01-04 14:11] alanfoster99 opened #128 "Leak Detection - Leak - 2016 missing"
Please add 2016 to the picker for leak and survey dates.
![image](https://cloud.githubusercontent.com/assets/7118831/12091187/2d206162-b2c3-11e5-8256-02ac89f8da84.png)

[2016-01-05 15:08] JMurk commented on #128
Per Jesse:  "the correct approach should be to use the current date to calculate the list of years instead of a hard-coded list."

[2016-01-05 17:20] alanfoster99 commented on #128
Good in test -- please push to PROD.

[2016-01-05 17:58] alanfoster99 commented on #128
Confirmed and closing

[2016-01-05 17:58] #128 closed

[2016-04-13 19:04] taojun545 commented on #127
@alanfoster99 It seems "Add Discrepancy Tool" works on both dev and prod. Please confirm which one is not working. Thanks.

[2016-04-13 19:44] alanfoster99 commented on #127
You are correct -- seems to be functioning.

[2016-04-13 19:44] #127 closed

[2016-08-12 20:21] alanfoster99 opened #129 "Leak Detection - Setup"
The selection buffer size under settings maxes out at 200'.  Please increase to 325'

[2016-08-13 15:54] taojun545 commented on #129
Updated both on PROD and DEV.

[2016-08-14 14:47] alanfoster99 commented on #129
Confirmed complete.  Closing.

[2016-08-14 14:47] #129 closed